resource/logo.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2014 sp1 (http://www.altova.com) -->
<!ELEMENT img (points, joints)>
<!ATTLIST img
	depth #REQUIRED
	width #REQUIRED
	height #REQUIRED
>
<!ELEMENT joint EMPTY>
<!ATTLIST joint
	pointA  #REQUIRED
	pointB  #REQUIRED
>
<!ELEMENT point EMPTY>
<!ATTLIST point
	x #REQUIRED
	y #REQUIRED
	z #REQUIRED
>
<!ELEMENT joints (joint+)>
<!ELEMENT points (point+)>
<!ELEMENT xml-image (img)>
